.Null {
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  user-select: none;
}

.Wrapper {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  animation: fade-in ease 100ms;
}

.Overlay {
  display: flex;
  height: auto;
  align-items: flex-start;
  min-height: 100%;
  width: 100%; 
  transition: background-color ease;
}

.Container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 60px 12px;
}

.Modal {
  margin: auto;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transition: transform ease opacity ease;
}

.Aesthetics {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px 6px;
  border-radius: 4px;
}

.Close {
  margin-bottom: 16px;
}

.CancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 25px;
  width: 25px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0px;
  margin: 0px;
}

.Content {
  display: block;
  outline: none;
}

@media (min-width: 600px) {
  .Modal {
    height: auto;
    top: 10%;
    max-width: 500px;
  }
}

@media (max-height: 600px) {
  .Modal {
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
* ----------------------------
* ---------ANIMATIONS---------
* ----------------------------
*/

/* TranslateY */

.TranslateY_Open {
  animation: translateY_Open ease forwards;
}

.TranslateY_Close {
  animation: translateY_Close ease forwards;
}

@keyframes translateY_Open {
  0% {
    transform: translateY(-15vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes translateY_Close {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-15vh);
    opacity: 0;
  }
}

/* TranslateX */

.TranslateX_Open {
  animation: translateX_Open ease forwards;
}

.TranslateX_Close {
  animation: translateX_Close ease forwards;
}

@keyframes translateX_Open {
  0% {
    transform: translateX(-15vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes translateX_Close {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vh);
    opacity: 0;
  }
}

/* FadeIn */

.FadeIn_Open {
  animation: fadeIn_Open ease forwards;
}

.FadeIn_Close {
  animation: fadeIn_Close ease forwards;
}

@keyframes fadeIn_Open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn_Close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Zoom */

.Zoom_Open {
  animation: zoom_Open ease forwards;
}

.Zoom_Close {
  animation: zoom_Close ease forwards;
}

@keyframes zoom_Open {
  0% {
    opacity: 0;
    transform: scale(1.2)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes zoom_Close {
  0% {
    opacity: 1;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    transform: scale(1.2)
  }
}
